@using Microsoft.AspNetCore.Components.Authorization
<Bar Breakpoint="Breakpoint.Mobile">
    <BarBrand>
        <BarItem>
            <BarLink To="/">
                <Text TextSize="TextSize.ExtraLarge" TextColor="TextColor.Light">
                    Fighting <Span TextColor="TextColor.Primary">Flow</Span>
                </Text>
            </BarLink>    
        </BarItem>
    </BarBrand>
    
    <BarEnd Flex="Flex.InlineFlex.Row.Wrap.NoWrap">
        <BarItem>
            <BarLink To="resources">
                <Button TextColor="TextColor.Light">
                    Resources
                </Button>
            </BarLink>    
        </BarItem>

        <AuthorizeView>
            <Authorized>
                <BarItem>
                    <BarLink To="profile">
                        <Button TextColor="TextColor.Light">
                            Profile    
                        </Button>
                    </BarLink>
                </BarItem>
            </Authorized>
            
            <NotAuthorized>
                <BarItem>
                    <BarLink To="login">
                        <Button TextColor="TextColor.Light">
                            Login    
                        </Button>
                    </BarLink>
                </BarItem>
            </NotAuthorized>
        </AuthorizeView>
    </BarEnd>
</Bar>