<div class="navbar navbar-expand bg-black">
    <div class="container-fluid">
        <div class="navbar-brand">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img class=""
                     height="32"
                     width="32"
                     src="./images/fighting_flow_logo.png"
                     alt="Fighting Flow Logo"/>
            </NavLink>
        </div>
        <nav class="collapse navbar-collapse">
            <div class="nav-item ps-1 pe-3">
                <NavLink class="nav-link text-light" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-light" href="/resources">
                   Resources 
                </NavLink>
            </div>
            <div class="nav-item px-3 text-light">
                <NavLink class="nav-link" href="/profile">
                   Profile
                </NavLink>
                </div>
        </nav>
    </div>
</div>