<Div Flex="Flex.Row.JustifyContent.Between.AlignContent.Center"
     Gap="Gap.Is5">
    <Field Width="Width.Is50">
        <FieldLabel>
            Description
        </FieldLabel>
        
        <MemoInput
            Placeholder="Write a description of your combo"
            MaxLength="50"
            Rows="1"
            bind-Value="@ComboTitle"/>
    </Field>

    <Field Width="Width.Is25">
        <FieldLabel>Damage</FieldLabel>
        <TextInput
            bind-Value="@ComboDamageString"
            MaskType="MaskType.Numeric"
            @onchange="ParseComboDamage"
            Placeholder="0"/>
    </Field>

    <Field Width="Width.Is25" Flex="Flex.Column">
        <FieldLabel>Difficulty</FieldLabel>
        <Rating bind-SelectedValue="ComboDifficulty"/>
    </Field>
</Div>

@code {
    [Parameter] public string ComboTitle { get; set; } = "";
    [Parameter] public string ComboDamageString { get; set; } = ""; 
    [Parameter] public int ComboDamage { get; set; } = 0; 
    [Parameter] public int ComboDifficulty { get; set; }

    private void ParseComboDamage()
    {
        ComboDamage = int.Parse(ComboDamageString);
    }

}