<Div Flex="Flex.Row">
    <Button
        Color="Color.Light"
        Width="Width.Is25"
        Margin="Margin.Is4.FromEnd"
        Padding="Padding.Is3.OnX"
        TextWeight="TextWeight.Bold"
        Outline>
        Break
    </Button>
    
    <Button Color="Color.Light"
            Width="Width.Is25"
            Margin="Margin.Is4.FromEnd"
            Padding="Padding.Is3.OnX"
            TextWeight="TextWeight.Bold"
            Outline>
        Delete
    </Button>
    
    <Button Color="Color.Light"
            Width="Width.Is25"
            Margin="Margin.Is4.FromEnd"
            Padding="Padding.Is3.OnX"
            TextWeight="TextWeight.Bold"
            Outline>
        Clear
    </Button>
    
    <Button Color="Color.Primary"
            Width="Width.Is25"
            Padding="Padding.Is3.OnX"
            TextWeight="TextWeight.Bold">
        Save
    </Button>
</Div>

@code {
    
}