<Container
    Gutters="false"
    Class="d-flex flex-row justify-space-between">
    <Button
        Class="mud-theme-dark px-5">
        Break
    </Button>
    
    <Button
        Class="mud-theme-dark px-5">
        Delete
    </Button>
    
    <Button
        Class="mud-theme-dark px-5">
        Clear
    </Button>
    
    <Button 
        Class="mud-theme-primary px-5">
        Save
    </Button>
</Container>

@code {
    
}