@using System.Reflection.Metadata
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@if (Moves.Count > 0)
{
    <Div>
        <Heading5>
            @Type
        </Heading5>

        <Div Flex="Flex.Row.Wrap"
             Gap="Gap.Is3">
                @foreach (var move in _filteredMoves)
                {
                    <MoveButton Move="move" 
                                AddMove="HandleAddMove"/> 
                }
                </Div >
    </Div>
}

@code {
    [Parameter] public List<Move> Moves { get; set; } = [];
    [Parameter] public string Type { get; set; } = "";
    [Parameter] public string CharacterName { get; set; } = "";
    
    [Parameter] public EventCallback<Move> AddMove { get; set; }
    
    private string TypeFilter { get; set; } = "";
    private string BackgroundColor { get; set; } = "";
    
    private List<Move> _filteredMoves = [];
    private readonly List<Move> _miscMoves = CommonMoves.Moves;

    protected override void OnInitialized()
    {
        _filteredMoves = Type is "Character" ? 
            FilterCharacterMoves(Moves) : FilterMoves(Moves);
    }

    private async Task HandleAddMove(Move? move)
    {
        if (AddMove.HasDelegate && move != null)
        {
            Console.WriteLine($"Sending {move.Name} from MoveSelector");
            await AddMove.InvokeAsync(move);
        }
    }
    
    private List<Move> FilterMoves(List<Move> moves)
    {
        TypeFilter = Type switch
        {
            "Stances" => "Common",
            "Mechanics" => "Mechanics Input",
            _ => Type
        };
        return moves.FindAll(m => m.Type == TypeFilter);
    }
    
    private List<Move> FilterCharacterMoves(List<Move> moves)
    {
        return moves.FindAll(m => m.Character == CharacterName);
    }
    
    private Move GetMove(string note)
    {
        return Moves.First(m => m.Notation == note);
    }

    private static string GetMoveImage(string name)
    {
        return $"./images/{name}.png";
    }
    
}