@page "/Editor/{Game}/{Name}/{ComboId}"

@using Blazorise.Extensions
@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Components.Reusable
@using FightingFlowDotNet.Components.Reusable.Editor
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter FirestoreGetter

<PageTitle>Combo Editor</PageTitle>

<Div Flex="Flex.Column.AlignContent.Center"
     Gap="Gap.Is1"
     Padding="Padding.Is5.FromBottom">
    
    <Div Flex="Flex.Column.JustifyContent.Center.AlignContent.Center"
               Gap="Gap.Is2">
        
        <ComboEditorButtons DeleteMove="DeleteMove" 
                            AddBreak="AddBreak"
                            ClearMoves="ClearMoves"
                            SaveCombo="SaveCombo"/>

        <ComboMetaFields
            ComboTitle="@ComboTitle"
            ComboDamage="@ComboDamage"
            ComboDifficulty="ComboDifficulty"/>
    </Div>
    
    <Divider/>
    
    <Div Flex="Flex.Column.JustifyContent.Start"
         Gap="Gap.Is3">
        @foreach (var type in _types)
        {
            <MoveSelector Moves="_moveList" 
                          Type="@type" 
                          CharacterName="@(Name)" 
                          AddMove="AddMove"/>
        }
    </Div>
</Div>


@code {
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public string Game { get; set; } = "";
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public string ComboId { get; set; } = "";

    private string ComboTitle { get; set; } = "";
    private int ComboDamage { get; set; }
    private int ComboDifficulty { get; set; }

    private List<Move> _moveList = [];
    private List<string> _types = []; 
    private readonly List<string> _moveTypesT8 = 
        ["Misc", "Movement", "Input", "Character", "Stances", "Mechanics", "Stage", "Modifier"];
    private readonly List<string> _moveTypesSf6 = 
        ["Movement", "SF Classic", "SF Modern", "Mechanic", "Stage", "Special", "Super Art"];
    private readonly List<string> _moveTypesMk1 = 
        ["Input", "Movement", "Text Input", "Special", "Fatal Blow"];

    private DisplayCombo DisplayCombo { get; set; } = new(new Combo());

    protected override async Task OnInitializedAsync()
    {
        var combo = await GetComboFromFb();
        switch (Game) 
        {
            case "T8":
                _moveList = Tekken8.Moves;
                _types = _moveTypesT8;
                break;
            case "SF6":
                _moveList = StreetFighter6.Moves;
                _types = _moveTypesSf6;
                break;
            case "MK1":
                _moveList = MortalKombat1.Moves;
                _types = _moveTypesMk1;
                break;
        }

        DisplayCombo = new DisplayCombo(combo);
    }

    private Fighter GetChosenFighter()
    {
        return Tekken8.Fighters.First(f => f.Name == Name);
    }

    private async Task<Combo> GetComboFromFb()
    {
        return await FirestoreGetter.GetCombo(Name, ComboId);
    }

    private async Task SaveCombo()
    {
        await FirestoreGetter.SaveCombo(DisplayCombo, 
            DisplayCombo.Combo.Character, DisplayCombo.Combo.Id);
    }

    public void AddMove(Move? move)
    {
        try
        {
            if (move is null) throw new ArgumentException("Move is null");
            Console.WriteLine($"Adding {move.Name} to Combo");
            DisplayCombo.Combo.Moves.Add(move.Notation);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    public void DeleteMove()
    {
        try
        {
            Console.WriteLine(DisplayCombo.Combo.Moves.Count);
            if (DisplayCombo.Combo.Moves.IsNullOrEmpty()) 
                throw new IndexOutOfRangeException("List is empty");
            DisplayCombo.Combo.Moves.RemoveAt(DisplayCombo.Combo.Moves.Count - 1);
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    public void AddBreak()
    {
        DisplayCombo.Combo.Moves.Add("►");
    }

    public void ClearMoves()
    {
        DisplayCombo.Combo.Moves.Clear();
    }
}