@page "/"
@using Blazorise.Extensions
@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Components.Reusable
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter FbGetter

<PageTitle>Fighting Flow</PageTitle>

<Div Flex="Flex.Column"
     Gap="Gap.Is5">
    
    <Heading1 hidden="true">
        Fighting <Span TextColor="TextColor.Primary">Flow</Span>
    </Heading1>

    <Div Flex="Flex.Row.JustifyContent.Center.AlignContent.Center"
         Gap="Gap.Is5">
        <Field Floating>
            <DropdownList TItem="string" TValue="string"
                          Data="_gameList"
                          TextField="@((item) => item)"
                          ValueField="@(item => item)"
                          ValueChanged="UpdateGameSelected"
                          Color="Color.Dark"
                          Class="m3-outlined-dropdown"
                          Focus="true">
                @if (!_gameSelected.IsNullOrEmpty())
                {
                    @_gameSelected
                }
                else
                {
                    <Text>Game Select</Text>
                }
            </DropdownList>
        </Field>

        @* Subtitle *@
        <Text TextColor="TextColor.Light">
            Load us up on your phone, tablet or second monitor and find your main.
            Catalogue combos and lab to your heart's content
        </Text>

    </Div>

    <Div Style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 0.5rem;">
        @foreach (var fighter in Fighters)
        {
                <CharacterCard Fighter="@(fighter)"/>
        }
    </Div>
</Div>

@code {
    private IReadOnlyList<Fighter> Fighters { get; set; } = Tekken8.Fighters;
    private bool _dropDownSelected = false;
    private string _gameSelected = "Tekken 8";

    private readonly List<string> _gameList =
    [
        "Tekken 8",
        "Street Fighter 6",
        "Mortal Kombat 1",
        "2XKO",
        "Invincible Vs"
    ];

    private void ToggleDropDown()
    {
        _dropDownSelected = !_dropDownSelected;
    }

    private async Task CloseDropdown()
    {
        await Task.Delay(150);
        _dropDownSelected = false;
    }

    private void UpdateGameSelected(string newGame)
    {
        _gameSelected = newGame;
        Console.WriteLine($"Switched to {newGame}");
        Console.WriteLine($"New Value:  {_gameSelected}");
        Fighters = _gameSelected switch
        {
            "Tekken 8" => Tekken8.Fighters,
            "Street Fighter 6" => StreetFighter6.Fighters,
            "Mortal Kombat 1" => MortalKombat1.Fighters,
            _ => []
        };
    }
}