@page "/"
@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter fbGetter

<PageTitle>Fighting Flow</PageTitle>

<MudPaper
    Class="d-flex flex-column align-items-center px-2 gap-5"
    Style="background: black; color: white; padding-top: 20px;">
    
    @* Header *@
    <MudText 
        hidden="true"
        Typo="Typo.h1"
        Style="font-size: 32px; width: 250px;">
        Fighting <span style="color:#ee1164">Flow</span>
    </MudText>
        
    <MudContainer Class="d-flex flex-row gap-5">
    @* Game Selector *@
        <MudElement Style="min-width:140px">
            <MudSelect 
                T="string"
                Label="Game Select" 
                Style="background: black; color: white;"
                Dense="true"
                AdornmentColor="Color.Primary"
                @bind-Value="_gameSelected">
                @foreach (var game in _gameList)
                {
                    <MudSelectItem 
                        Style="background: black; color: white;" 
                        T="string" 
                        Value="@(game)"/>
                }
            </MudSelect>
        </MudElement>
    
    @* Subtitle *@
        <MudContainer
            Class="d-flex flex-column justify-content-center align-content-center vh-50">
            <MudText Typo="Typo.body2">
                Load us up on your phone, tablet or second monitor and find your main. 
                Catalogue combos and lab to your heart's content
            </MudText>
        </MudContainer>
    </MudContainer>

<MudGrid Spacing="2" Justify="Justify.Center">
    @foreach (var fighter in _fighters)
    {
        <MudItem xs="6" sm="4" md="3" lg="2">
            <MudCard
                Style="color: white; background: inherit; width: 100%;"
                Class="flex-shrink-1">
                <MudNavLink Href=@GetName(fighter.Name) Class="p-0">
                    <img 
                        src="./images/@(fighter.ImageId).png"
                        style="max-width: 100%; max-height: 200px; object-fit: contain" 
                        alt="@(fighter.Name)"/>
                    <MudCardContent>
                        <MudText Typo="Typo.body2" Style="color: white">
                            @fighter.Name
                        </MudText>
                    </MudCardContent>
                </MudNavLink>
            </MudCard>
        </MudItem>
    }
</MudGrid>
</MudPaper>

@code {
    private readonly List<Fighter> _fighters = TekkenFighters.Fighters;
    private bool _dropDownSelected = false;
    private string _gameSelected = "Tekken 8";

    private readonly List<string> _gameList =
    [
        "Tekken 8",
        "Street Fighter 6",
        "Mortal Kombat 1",
        "2XKO",
        "Invincible Vs"
    ];

    private void ToggleDropDown()
    {
        _dropDownSelected = !_dropDownSelected;
    }

    private async Task CloseDropdown()
    {
        await Task.Delay(150);
        _dropDownSelected = false;
    }

    private void UpdateGameSelected(string gameSelected)
    {
        _gameSelected = gameSelected;
    }

    private string GetName(string name)
    {
        return "CombosFor/" + _fighters.First(fighter => fighter.Name == name).Name;
    }

}