@page "/"
@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Components.Reusable
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter fbGetter

<style>
    .mud-input-label {
        color: white !important;
    }
    
    .mud-input-slot {
        color: white !important;
    }
    
    .mud-input-outlined-border {
        border-color: white;
    }
    
    .mud-selected-item {
        background: black !important;
    }
</style>

<PageTitle>Fighting Flow</PageTitle>

<MudPaper
    Class="d-flex flex-column align-items-center px-2 gap-5"
    Style="background: black;">
    
    @* Header *@
    <MudText 
        hidden="true"
        Typo="Typo.h1"
        Style="font-size: 32px; width: 250px;">
        Fighting <span style="color:#ee1164">Flow</span>
    </MudText>
        
    <MudContainer
        Class="d-flex justify-center align-center flex-row gap-5">
        <MudElement Style="min-width:140px">
            @* Game Selector *@
            <MudSelect
                T="string"
                Variant="Variant.Outlined"
                AdornmentColor="Color.Secondary"
                Class="select"
                Label="Game Select"
                Style="background: black; color: white;"
                Dense="true"
                @bind-Value="_gameSelected">
                @foreach (var game in _gameList)
                {
                    <MudSelectItem
                        Style="background: black;"
                        T="string"
                        Value="@(game)"/>
                }
            </MudSelect>
        </MudElement>

        @* Subtitle *@
        <MudText
            Typo="Typo.body2"
            Style="color: white;">
            Load us up on your phone, tablet or second monitor and find your main.
            Catalogue combos and lab to your heart's content
        </MudText>
        
    </MudContainer>

    <MudGrid Spacing="2" Justify="Justify.Center">
        @foreach (var fighter in _fighters)
        {
            <MudItem xs="6" sm="4" md="3" lg="2">
                <CharacterCard Fighter="@(fighter)"/>
            </MudItem>
        }
    </MudGrid>
</MudPaper>

@code {
    private readonly List<Fighter> _fighters = TekkenFighters.Fighters;
    private bool _dropDownSelected = false;
    private string _gameSelected = "Tekken 8";

    private readonly List<string> _gameList =
    [
        "Tekken 8",
        "Street Fighter 6",
        "Mortal Kombat 1",
        "2XKO",
        "Invincible Vs"
    ];

    private void ToggleDropDown()
    {
        _dropDownSelected = !_dropDownSelected;
    }

    private async Task CloseDropdown()
    {
        await Task.Delay(150);
        _dropDownSelected = false;
    }

    private void UpdateGameSelected(string gameSelected)
    {
        _gameSelected = gameSelected;
    }

    
}