@page "/"
@using Blazorise.Extensions
@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Components.Reusable
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter FbGetter

<PageTitle>Fighting Flow</PageTitle>

<Div Flex="Flex.Column"
     Gap="Gap.Is5">
    
    <Heading1 hidden="true">
        Fighting <Span TextColor="TextColor.Primary">Flow</Span>
    </Heading1>

    <Div Flex="Flex.Row.JustifyContent.Center.AlignContent.Center"
         Gap="Gap.Is5">
        <Field Floating>
            <DropdownList TItem="string" TValue="string"
                          Data="_gameList"
                          TextField="@((item) => item)"
                          ValueField="@(item => item)"
                          @bind-Value="@_gameSelected"
                          Color="Color.Dark"
                          Class="m3-outlined-dropdown"
                          Focus="true">
                @if (!_gameSelected.IsNullOrEmpty())
                {
                    @_gameSelected
                }
                else
                {
                    <Text>Game Select</Text>
                }
            </DropdownList>
        </Field>
        

        @* Subtitle *@
        <Text TextColor="TextColor.Light">
            Load us up on your phone, tablet or second monitor and find your main.
            Catalogue combos and lab to your heart's content
        </Text>

    </Div>

    <Div Flex="Flex.Row.Wrap.JustifyContent.Between.AlignContent.Around">
        @foreach (var fighter in _fighters)
        {
            <Div Flex="Flex.Grow.Is1.Shrink.Is1">
                <CharacterCard Fighter="@(fighter)"/>    
            </Div>
        }
    </Div>
</Div>

@code {
    private readonly List<Fighter> _fighters = TekkenFighters.Fighters;
    private bool _dropDownSelected = false;
    private string _gameSelected = "Tekken 8";

    private readonly List<string> _gameList =
    [
        "Tekken 8",
        "Street Fighter 6",
        "Mortal Kombat 1",
        "2XKO",
        "Invincible Vs"
    ];

    private void ToggleDropDown()
    {
        _dropDownSelected = !_dropDownSelected;
    }

    private async Task CloseDropdown()
    {
        await Task.Delay(150);
        _dropDownSelected = false;
    }

    private void UpdateGameSelected(string gameSelected)
    {
        _gameSelected = gameSelected;
    }

    
}