@page "/login"
@using FightingFlowDotNet.Clients
@inject NavigationManager Navigation
@inject FirebaseClientFactory FirebaseClientFactory
@inject IConfiguration Configuration

@if (_signUp)
{
    <h3 class="text-white text-center">Sign Up</h3>
}
else
{
    <h3 class="text-white text-center">Sign In</h3>
}

<div class="container-fluid text-white w-50">
    <div class="form-group">
        <label>Username</label>
        <input type="text" @bind="_username" class="form-control"/>
    </div>
    <div class="form-group mt-2">
        <label>Password</label>
        <input type="password" @bind="_password" class="form-control"/>
    </div>
    @if (_signUp)
    {
        <label>Email</label>
        <input type="email" class="form-control"/>

        <label>Date of Birth</label>
        <input type="date" class="form-control"/>

        <label>Name</label>
        <input type="text" class="form-control"/>
    }
</div>
<div class="container-fluid">
    <div class="d-flex flex-row justify-content-center">
        <div class="flex-item">
            @if (_signUp)
            {
                <button class="btn btn-primary mt-3" @onclick="TriggerSignUp">Sign In</button>
                <button class="btn btn-success mt-3 ms-3" @onclick="SignUpWithEmail">Sign Up</button>
            }
            else
            {
                <button class="btn btn-primary mt-3" @onclick="SignInWitEmail">Sign In</button>
                <button class="btn btn-light mt-3 ms-3" @onclick="TriggerSignUp">Sign Up</button>
            }
        </div>
    </div>
</div>



@if (!string.IsNullOrEmpty(_errorMessage))
{
    <p class="text-danger mt-2">@_errorMessage</p>
}

@code {
    private string _username = "";
    private string _email = "";
    private string _password = "";
    private string _name = "";
    private string _dob = "";
    private DateTime _dateCreated = DateTime.Now;
    
    private string _errorMessage = "";
    private bool _signUp = false;

    private void TriggerSignUp()
    {
        _signUp = !_signUp;
    }

    private async Task SignUpWithEmail()
    {
        Console.WriteLine("Attempting to sign in with email");
        var client = FirebaseClientFactory.GetAuthClient();
        try
        {
            await client.CreateUserWithEmailAndPasswordAsync(_email, _password);
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
            Console.WriteLine(ex.Message);
        }
    }

    private async Task SignInWitEmail()
    {
        var client = FirebaseClientFactory.GetAuthClient();
        Console.WriteLine("Client Created");
        try
        {
            Console.WriteLine("Calling supabase.Auth.SignIn");
            // Call Supabase auth using C#
            var session = await client.SignInWithEmailAndPasswordAsync(_email, _password);
            Console.WriteLine($"Session Created: {session.User.Credential.IdToken ?? "invalid token"}");
            Console.WriteLine("Session Created, navigating to home");
            Navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
            Console.WriteLine($"Exception occured: {_errorMessage}");
        }
    }
}