@page "/login"
@using FightingFlowDotNet.Clients
@using Firebase.Auth
@using User = FightingFlowDotNet.Models.User
@inject NavigationManager Navigation
@inject FirebaseClientFactory FirebaseClientFactory

@rendermode InteractiveServer

<h3>Sign In</h3>

<div class="auth-container">
    <div class="form-group">
        <label>Email</label>
        <input type="email" @bind="_email" class="form-control" />
    </div>
    <div class="form-group mt-2">
        <label>Password</label>
        <input type="password" @bind="_password" class="form-control" />
    </div>

    <button class="btn btn-primary mt-3" @onclick="SignUpWithEmail">Login with Email</button>
    
    <hr />

    <button class="btn btn-danger" @onclick="SignInWithGoogle">
        <img src="google-icon.svg" width="20" class="me-2" /> Sign in with Google
    </button>
</div>

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <p class="text-danger mt-2">@_errorMessage</p>
}

@code {
    private string _email = "";
    private string _password = "";
    private string _errorMessage = "";

    private async Task SignUpWithEmail()
    {
        Console.WriteLine("Attempting to sign in with email");
        var client = FirebaseClientFactory.GetAuthClient();
        try
        {
            var protectedData = await client.CreateUserWithEmailAndPasswordAsync(_email, _password);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
    private async Task SignInWitEmailAndPassword()
    {
        var client = FirebaseClientFactory.GetAuthClient();
        Console.WriteLine("Client Created");
        try
        {
            Console.WriteLine("Calling supabase.Auth.SignIn");
            // Call Supabase auth using C#
            var session = await client.SignInWithEmailAndPasswordAsync(_email, _password);
            Console.WriteLine($"Session Created: {session.User.Credential.IdToken ?? "invalid token"}");
            if (session != null)
            {
                Console.WriteLine("Session Created, navigating to home");
                Navigation.NavigateTo("/");
            }
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
            Console.WriteLine($"Exception occured: {_errorMessage}");
        }
    }

    private async Task SignInWithGoogle()
    {
        try
        {
            // Trigger the Google OAuth Redirect
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }
}